<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Adjust Videos and Audio</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/adjust.css') }}"
    />
    <script src="{{ url_for('static', filename='js/adjust.js') }}" defer></script>
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon">

  </head>
  <body>
    <div class="container">
      <h1>Adjust Videos and Audio</h1>
      <form id="upload-form">
        <input type="file" id="file-input" multiple accept="video/*,audio/*" />
        <button type="submit">Merge and Download</button>
      </form>
      <div id="progress"></div>
    </div>
  </body>
</html>
